@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #fff;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  max-width: 800px;
  margin: 0 auto;
}
